body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100 vh;
  max-width: 60%;
  min-width: 60%;
  justify-content: space-evenly;
  background-color: #58B3FC;
}

.subscription-section {
  flex:1;
}

.subscription-container {
  flex:2;
}

.subscription-card {
  background: white;
  border: 1px solid #000000;
  margin: 3%;
  padding: 5%;
  border-radius: 10px;
  color: black;
  text-align: center;
}
.btn
{
  width:80%;
  background-color:  #2b88de;
  border-radius: 10px;
}

.type
{
  color: #807b7b;
}